
# This is the .gitignore file for the dotfiles repo.
# It specifies which files and directories the config
# command should ignore

code/
work/
notes/
.emacs.d/
snap/
.cache
.mozilla/
.local/share/fish/generated_completions/
.config/Slack/logs
.config/Slack/Cache
