# Ignore all files by default
*

# Using the ! character we can exclude files and folders
# from being ingored by the above statement.

# Git files
!.gitignore
!.gitconfig
!.gitconfig-work

# Bash files
!.bash_profile
!.bashrc
!.bash_aliases

# Vim files
!.vimrc

# EditorConfig
!.editorconfig

# msmtp config file
!.msmtprc

# mbsync config file
!.mbsyncrc

# Setup scripts for the computer go in the /computer folder.
!/computer
!/computer/*
!/computer/iterm
!/computer/iterm/*
!/computer/atom
!/computer/atom/*

# Spacemacs
!.spacemacs.d/
!.spacemacs.d/init.el

# Users bin folder.
!/bin
!/bin/*

# Work
!/work
!/work/notes
!/work/code
/work/notes/*
/work/code/*
!/work/notes/\.gitkeep
!/work/code/\.gitkeep
