# Ignore all files by default
*

# Using the ! character we can exclude files and folders
# from being ingored by the above statement.

# Git files
!.gitignore
!.gitconfig

# Bash files
!.bash_profile
!.bashrc

# Vim files
!.vimrc

# Setup scripts for the computer go in the /computer folder.
!/computer
!computer/*
!computer/iterm/*

# Spacemacs
!.spacemacs.d/
!.spacemacs.d/init.el

# Users bin folder.
!/bin
!/bin/*
