<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://openbox.org/
                file:///usr/share/openbox/menu.xsd">

<menu id="root-menu" label="Openbox 3">
  <item label="Terminal">
    <action name="Execute"><execute>uxterm</execute></action>
  </item>
  <item label="Firefox">
    <action name="Execute"><execute>firefox</execute></action>
  </item>
  <item label="Emacs">
    <action name="Execute"><execute>emacsclient -c -n -q -a emacs</execute></action>
  </item>
  <separator />
  <menu id="applications-menu" label="Applications">
    <item label="Volume Control">
      <action name="Execute"><execute>pavucontrol</execute></action>
    </item>
    <item label="Spotify">
      <action name="Execute"><execute>spotify</execute></action>
    </item>
  </menu>
  <menu id="keyboard-menu" label="Keyboard Layout">
    <item label="US">
      <action name="Execute"><execute>setxkbmap us</execute></action>
    </item>
    <item label="Swedish">
      <action name="Execute"><execute>setxkbmap se</execute></action>
    </item>
  </menu>
  <separator />
  <item label="ObConf">
    <action name="Execute"><execute>obconf</execute></action>
  </item>
  <item label="Reconfigure">
    <action name="Reconfigure" />
  </item>
  <item label="Lock Screen">
    <action name="Execute"><execute>light-locker-command -l</execute></action>
  </item>
  <item label="Restart">
    <action name="Restart" />
  </item>
  <separator />
  <item label="Exit">
    <action name="Exit" />
  </item>
</menu>
</openbox_menu>
